@keyframes transitionLoad {
    0%{
      opacity: 0;
      transform: translateY(100px);
    }
  
    100%{
        opacity: 1;
        transform: translateY(0px);
    }

  }



.Main {
    height: 100vh;
    max-height: 90vh;
    width: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: -1;

    padding-left: 10em
    
}

.h1{
    color: var(--white);
    margin-bottom: 30px;
    animation: transitionLoad .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-timeline: scroll(); */
    
}

.p{
    font-size: 70pt;
    line-height: 1.1em;
    color: var(--white);
    font-weight: 500;
    animation: transitionLoad .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-timeline: scroll(); */
}

.textContainer{
    margin-bottom: 70px;
}


.buttonContainer{
    display: flex;
    gap: 140px;
}

.buttonProductsR{
    width: 200px;
    height: 90px;
    border: none;
    font-weight: 500;
    font-size: 15pt;
    letter-spacing: 1px;
    color: var(--white);
    background: var(--red);
}

.buttonProductsG{
    width: 200px;
    height: 90px;
    border: none;
    font-weight: 500;
    font-size: 15pt;
    letter-spacing: 1px;
    color: var(--white);
    background: var(--gray);
}





.featuresPage{
    background:var(--graphite);
    width: 100%;
    height: 200vh;
}